{% load static %}  
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Art Seller Records</title>  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Seller ID</th>  
        <th>Seller First Name</th>
        <th>Seller Last Name</th>   
        <th>Seller Email</th>  
        <th>Seller Address</th>  
        <th>Seller Gender</th>  
        <th>Painting Category</th>
        <th>Bidding Price (in Lakhs)</th>
        <th>Agree with Terms & Conditions?</th>
        <th>Date of Bidding Submission</th>     
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for seller in sellers %}  
    <tr>  
        <td>{{ seller.sid }}</td>  
        <td>{{ seller.sfname }}</td>
        <td>{{ seller.slname }}</td>  
        <td>{{ seller.semail }}</td>  
        <td>{{ seller.saddress }}</td>
        <td>{{ seller.sgender }}</td>
        <td>{{ seller.scategory }}</td>
        <td>{{ seller.sbid }}</td>
        <td>{{ seller.tnc }}</td>
        <td>{{ seller.sdate }}</td>

        <td>  
            <a href="/update/{{ seller.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/delete/{{ seller.id }}">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/emp" class="btn btn-primary">Add New Record</a></center>
  
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>  

</html>  